@media screen and (max-width: 700px) {
  header .container {
    flex-direction: column;
  }

  .filme-principal {
    background-image: linear-gradient(rgba(0,0,0,.6) 0%, rgba(0,0,0,.6) 100%), var(--video);
  }

  .filme-principal .container {
    width: 100%;
  }

  .botoes {
    justify-content: stretch;
  }

  .botao {
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
  }
}

@media screen and (min-width: 1000px) {
  .descricao {
    width: 60%;
  }
  .titulo {
    width: 60%;
  }
}